<!DOCTYPE html>
{%extends "base.html" %}
{%block content%}
<style>
.intro {
font-family: 'Montserrat sans-serif';
height:100px;
width:100px;
border:'2px solid blue';
border-radius:5%;
background-color: "#ffe0ac";
}
</style>

<div class="container" style = "font-family: 'Montserrat', sans-serif;">
  <div class="jumbotron" style =  "background-color:#dd7631;" >



    <h1 >Atharva Chaurasia</h1>
<div class="jumbotron" style="background-color:#ffbd69">



      <p><strong>Name: </strong> Atharva Chaurasia
        <br>
        <strong>Age: </strong> 5 Years
        <br>
        <strong>DoB: </strong> 10 Sep 2014
        <br>
        <strong>Father:</strong> Yogesh Kumar Chaurasia
        <br>
        <strong>Mother: </strong> Shaily Chaurasia
        <br>
        <strong>Class: </strong> Senior KG
        <br>
        <strong>School: </strong> Yashodham Playmate Pre-School, Gokuldham, Goregaon (E), Mumbai
        <br>
        <strong>Hobbies: </strong> Drawing, Watching Super Hero Cartoons, Motu Patlu etc.
        <br>
        <strong>Follows: </strong> Osho, Sadguru
        <br>
      </p>
</div>





  </div>

</div>

{%endblock%}
