<!DOCTYPE html>
{% load static %}


<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Kid's Web</title>
<!-- <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/kids_tutorial/static/css/math.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

  <nav class="navbar navabar-nav navbar-expand navbar-light" style="background-color:#6983aa; color:#f4f4f4">

  <a class="navbar-brand" href="{%url 'index'%}"> <img style="border-radius: 50%" src="{% static 'atharva_pic.jpeg' %}" alt="Atharva Image"> </a>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul  style="color:#f4f4f4" class="navbar-nav" style="font-family: 'Montserrat', sans-serif; color:'#f4f4f4'">

      <li class="nav-item nav-link"><a style="color:#f4f4f4" href="{%url 'about'%}">About</a>
      </li>
      <li class="nav-item dropdown">
        <a style="color:#f4f4f4" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" style="vertical-align:middle">
          Maths
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{%url 'kids_tutorial:summation' %}">Summation</a>
          <a class="dropdown-item" href="{%url 'kids_tutorial:subtraction' %}">Subtraction</a>
          <a class="dropdown-item" href="{%url 'kids_tutorial:multiplication' %}">Multiplication</a>
          <a class="dropdown-item" href="{%url 'kids_tutorial:division' %}">Division</a>
        </div>
      </li>
      <li  class="nav-item nav-link"><a style="color:#f4f4f4" href="#">Geography</a>
      </li>
      <li class="nav-item nav-link"><a style="color:#f4f4f4" href="#">Quiz</a>
      </li>
</ul>
  </div>
      <div class="">
        <ul class="navbar-nav navbar-right" style="font-family: 'Montserrat', sans-serif;">
          <li class="nav-item nav-link"><a style="color:#f4f4f4" href="{%url 'kids_usermgmt:register'%}">Signup</a>
          </li>

            {% if user.is_authenticated%}

            <li class="nav-item nav-link"><a style="color:#f4f4f4" href="{%url 'kids_usermgmt:user_logout'%}">Logout</a>
            </li>

            {%else%}
            <li class="nav-item nav-link"><a style="color:#f4f4f4" href="{%url 'kids_usermgmt:user_login'%}">Login</a>
            </li>
                {%endif%}
                </ul>
      </div>



</nav>
    {%block content%}

    {%endblock%}

  </body>
</html>
