<!DOCTYPE html>
{%extends "base.html" %}
{% load static %}
{%block content%}
<style>
.emailfieldclass  {margin-left: 55px;}
.passwordfieldclass  {margin-left: 25px;}
.profile_sitefieldclass  {margin-left: 2px;}
.registerfieldclass { margin-left: 20px;}
</style>
<div class="container" style = "font-family: 'Montserrat', sans-serif;">
  <div class="jumbotron" style =  "background-color:#fff3cd; fonts">
    {% if registered %}
      <h1>Thank You for Registering!</h1>
    {% else %}
      <h1 style="padding-top:0px">Register Here!</h1>
      <p><em>(Fill out the form below..)</em></p>
      <form enctype="multipart/form-data" method="post">
        {%csrf_token %}
        {{user_form.as_p}}
        {{profile_form.as_p}}
<br>
        <input class="btn btn-primary btn-lg" type="submit"  value="Register">
      </form>
    {% endif %}



  </div>

</div>

{%endblock%}
