{%extends "base.html" %}
{%block content%}
<style>
  .math {

    height: 70px;
    width:70px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;


  }
.container {

font-family: 'Montserrat', sans-serif;

}
.inputnumber {

    height: 90px;
    width:120px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-stretch:expanded;
    font-weight:bold;
    font-size:30px;
    border: 5px solid #40bad5;
    text-align:center;

}

.result {

    height: 90px;
    width:120px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-stretch:expanded;
    font-weight:bold;
    font-size:30px;
    border: 5px solid #40bad5;
    text-align:center;

}
.container {

}
</style>
<div class="container">
    <div style="background-color:#ffecc7" class="jumbotron">
    <h2 style="color:black; text-align:left">Let's Learn Summation..</h2>
      <br>
      <p style="text-align:center">
        <input id = "num1" class="inputnumber" type="text" value="">
        <label style="font-size:50px"> <strong>   +  </strong></label>
        <input id = "num2" class="inputnumber" type="text" value="">
        <label style="font-size:50px"> <strong>  =  </strong></label>
        <input id="result" onfocus="this.value=''" class="result" type="text" value="">
      </p>
      <br>
      <p style="text-align:center">
        <input id="challengemebtn"  style="padding:10px; margin:10px" class='btn btn-primary btn-lg btn-info' type="submit"  name="" value="ChallengeMe!">
        <input id="helpmebtn"  style="padding:10px; margin:10px" class='btn btn-primary btn-lg btn-info' type="submit"  name="" value="HelpMe!">
      </p>

  </div>

  </div>
  <script>
    var challengeme = document.querySelector('#challengemebtn');
    var helpme = document.querySelector('#helpmebtn');
    var result = document.querySelector('#result');

    challengeme.addEventListener('click',function(){
      var numone = document.querySelector('#num1');
      var numtwo = document.querySelector('#num2');
      numone.setAttribute ('value',Math.floor((Math.random() * 100) + 1));
      numtwo.setAttribute ('value',Math.floor((Math.random() * 100) + 1));
      // var result = document.querySelector('#result');
      result.setAttribute ('value','');
  })

  helpme.addEventListener('click',function(){
    var numone = document.querySelector('#num1');
    var numtwo = document.querySelector('#num2');

    // var result = document.querySelector('#result');
    // result.setAttribute('value','');
    result.setAttribute ('value',parseInt(numone.getAttribute('value')) + parseInt(numtwo.getAttribute('value')));
    result.setAttribute ('style','color:#222831');
})

result.addEventListener('mouseover',function(){
  var numone = document.querySelector('#num1');
  var numtwo = document.querySelector('#num2');

  // var result = document.querySelector('#result');
  result.setAttribute ('value',parseInt(numone.getAttribute('value')) + parseInt(numtwo.getAttribute('value')));
  result.setAttribute ('style','color:#f0f0f0');

})

result.addEventListener('mouseout',function(){
result.setAttribute ('value','');
result.textContent('');

})
</script>
{%endblock%}
