{%extends "base.html" %}
{%block content%}
<style>
  .math {

    height: 70px;
    width:70px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;


  }
.container {

font-family: 'Montserrat', sans-serif;

}
.inputnumber {

    height: 90px;
    width:120px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-stretch:expanded;
    font-weight:bold;
    font-size:30px;
    border: 5px solid #40bad5;
    text-align:center;

}

.result {

    height: 90px;
    width:120px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-stretch:expanded;
    font-weight:bold;
    font-size:30px;
    border: 5px solid #40bad5;
    text-align:center;

}
.container {

}
</style>
<div class="container">
    <div style="background-color:#8ec6c5" class="jumbotron">
    <h2 style="color:black; text-align:left">Let's Learn Multiplication....

      <select style="background-color:#8ec6c5 " id="difflevel">

    <option value="1">1 Digit</option>

    <option value="2">2 Digit</option>

    <option value="3">3 Digit</option>

    <option value="4">4 Digit</option>

    </select>
    </h2>
      <br>
      <p style="text-align:center">
        <input id = "num1" class="inputnumber" type="text" value="" readonly="readOnly" >
        <label style="font-size:50px"> <strong>   x  </strong></label>
        <input id = "num2" class="inputnumber" type="text" value="" readonly="readOnly">
        <label style="font-size:50px"> <strong>  =  </strong></label>
        <input id="resultnum"  onfocus="this.value=''" class="result" type="text" value='' onchange='validateResult(this.value)'>
        <label id = "resultmsg" style="font-size:10px; display:none" > Wrong Input, Only Number Allowed!</label>
      </p>
      <br>
      <p style="text-align:center">
        <input id="challengemebtn"  style="padding:10px; margin:10px" class='btn btn-primary btn-lg btn-info' type="submit"  name="" value="ChallengeMe!">
        <input id="helpmebtn"  style="padding:10px; margin:10px" class='btn btn-primary btn-lg btn-info' type="submit"  name="" value="HelpMe!">
      </p>

  </div>

  </div>

  <script>
    var challengeme = document.querySelector('#challengemebtn');
    var helpme = document.querySelector('#helpmebtn');
    var result = document.querySelector('#resultnum');
    var resulttext = document.querySelector('#resultmsg');
    var challangeflag = false;

    challengeme.addEventListener('click',function(){

      var numone = document.querySelector('#num1');
      var numtwo = document.querySelector('#num2');

      document.getElementById("num1").readOnly = false;
      document.getElementById("num2").readOnly = false;

      numone.setAttribute ('value',Math.floor((Math.random() * (10 ** (parseInt(document.getElementById('difflevel').value)))) + 1));
      numtwo.setAttribute ('value',Math.floor((Math.random() * (10 ** (parseInt(document.getElementById('difflevel').value)))) + 1));

      document.getElementById("num1").readOnly = true;
      document.getElementById("num2").readOnly = true;
      document.getElementById("resultnum").value = '';
      resulttext.setAttribute('style','display:none');
      challangeflag = true;

    })

  function validateResult(result) {

    var isNotANumber = isNaN(result);
    console.log(isNotANumber);

    var resulttext = document.querySelector('#resultmsg');

    if (challangeflag == true) {

      if (isNotANumber){
        console.log("Not a Number");

        resulttext.setAttribute('style','display:inline');
        resulttext.innerHTML = "<span style='color:red' class='glyphicon glyphicon-user'>Wrong Input, Enter a Number!</span>"

        result.setAttribute('style','border:5px solid orange');
      }
    else {
      console.log("is a number");

      var numone = document.querySelector('#num1');
      var numtwo = document.querySelector('#num2');
      console.log ("num1 = ",numone.getAttribute('value'));
      console.log(numtwo.getAttribute('value'));
      var num1 = numone.getAttribute('value');
      var num2 = numtwo.getAttribute('value');

      console.log(num1);
      console.log(num2);
      console.log(result);
      console.log("just before if ");
      if((parseInt(num1) * parseInt(num2)) == parseInt(result)) {
          console.log ("Checking the result");
          resulttext.setAttribute('style','color:green; display:inline');
      resulttext.innerHTML = "<span style='color:green' class=glyphicon glyphicon-ok>Correct!</span>"
    }
    else {
      console.log("inside else to print Oh Dear");
      resulttext.setAttribute('style','color:red; display:inline');
      resulttext.innerHTML = "<span class='glyphicon glyphicon-remove'>Oh Dear..Try Again!</span>"
      console.log()
    }

    }}
    else {

      resulttext.setAttribute('style','display:inline; color:red');
      resulttext.innerHTML = "Click on 'Challenge Me' to receive the challenge first"
    }
  }

  helpme.addEventListener('click',function(){
    var numone = document.querySelector('#num1');
    var numtwo = document.querySelector('#num2');
    console.log (numone);
    console.log(numtwo);
    result.setAttribute ('style','color:#222831');
    var num1 = numone.getAttribute('value');
    var num2 = numtwo.getAttribute('value');
    document.getElementById("resultnum").value = (parseInt(num1) * parseInt(num2));
    resulttext.setAttribute('style','display:none');
    //result.setAttribute ('value',parseInt(numone.getAttribute('value')) + parseInt(numtwo.getAttribute('value')));
    console.log(result.getAttribute ('value'));
})

</script>
{%endblock%}
