<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MTV Project</title>
    <link rel="stylesheet" href="{% static "css\mtv_app\mtv.css" %}"/>
  </head>
  <body>
    <h1>This is the DB for Users</h1>
    <h2>Look at the table below..</h2>
  <div class="userlist">
      {% if user_list %}

          <table>
            <thead>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
              </thead>

              {% for rec in user_list %}
                <tr>
                    <td>{{rec.first_name}}</td>
                    <td>{{rec.last_name}}</td>
                    <td>{{rec.email}}</td>
                  </tr>
              {% endfor %}
            </table>
        {% else %}
          <p>No Access Record Found!!</p>
      {% endif %}
    </div>
  </body>
</html>
